$text-red: #8e0000;

.selection-form {
  width: 100%;

  .content-titles {
    margin: 1rem 0 1.5rem 0;
    text-align: center;
    color: $text-red;
    line-height: 1.2;

    .title {
      font-size: 1.5rem;
    }

    .subtitle {
      margin-top: 0.3rem;
    }
  }
}
