$text-red: #8e0000;

.order-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .thanks-message {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: $text-red;
  }

  .order-list-wrapper {
    max-width: 80%;
    margin-top: 1.5rem;

    .list-title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2;
    }

    .order-total {
      font-weight: 700;
    }
  }
}
