$bg-yellow: #ffc107;
$bg-blue: #4285f4;
$bg-black--hover: #000;

.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2.6875rem 1.5rem 2rem;
  background-color: $bg-yellow;

  .input-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2.6875rem;
    margin-bottom: 3rem;

    .input-list-item {
      position: relative;
      width: 100%;
      height: 2.1875rem;
    }
  }

  .button-group {
    & > *:last-child {
      margin-top: 1.5rem;
      background-color: $bg-blue;

      &:hover {
        background-color: $bg-black--hover;
      }
    }
  }
}
