.order-board {
  position: relative;
  display: flex;
  flex-direction: column;

  .amount-due {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 7rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .button {
    position: absolute;
    left: 50%;
    bottom: 2.375rem;
    transform: translateX(-50%);
    width: calc(80%);
  }
}

@media screen and (min-width: 764px) {
  .order-board {
    height: 100%;
  }
}
