.order-board {
  position: relative;
  height: 100%;

  .presentation-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .order-list {
      min-height: 12rem;
      margin-bottom: 1.5rem;
    }

    .amount-due {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
    }

    .button {
      width: calc(80%);
      margin: 0 auto;

      &.float {
        position: fixed;
        left: 50%;
        bottom: 2.375rem;
        transform: translateX(-50%);
        width: max-content;
      }
    }
  }
}

@media screen and (min-width: 764px) {
  .order-board {
    height: 100%;
  }
}
