$text-white: #fff;
$bg-red: #c72929;
$bg-red--hover: #c72929cc;
$bg-gold--checked: #c79100;

.input {
  appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 2.5rem;
  background-color: $bg-red;
  transition: background-color 400ms ease;

  &:hover {
    background-color: $bg-red--hover;
  }

  &:checked {
    background-color: $bg-gold--checked;
  }
}

.label {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $text-white;
}

.input,
.label {
  position: absolute;
}
