$input-border: #000;
$bg-white: #fff;
$text-red: #c72929;

.form-input {
  position: absolute;
  inset: 0;
  border: 1px solid $input-border;
  border-radius: 0.25rem;
  background-color: $bg-white;

  &.filled {
    & + .form-input-label {
      bottom: calc(100% + 0.5rem);
      left: 0;
      transform: none;
    }
  }

  & + .form-input-label {
    position: absolute;
    bottom: 50%;
    left: 1rem;
    transform: translateY(50%);
    line-height: 1;
    transition: all 400ms ease;
    z-index: 2;
  }

  &:focus + .form-input-label {
    bottom: calc(100% + 0.5rem);
    left: 0;
    transform: none;
  }

  & ~ .error-message {
    position: absolute;
    bottom: calc(100% + 0.5rem);
    right: 0;
    max-width: 70%;
    line-height: 1;
    color: $text-red;
    font-weight: 700;
    text-align: center;
    z-index: 2;
  }
}
