@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  font: 100%/1.5 "Roboto", sans-serif;
}

div#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
